.templates-wrapper {
    width: 100%;
    margin-top: 25px;
}

.text-error {
    color: #B3001B;
}

.block-flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-select {
    border: 1px solid rgb(239, 239, 239);
    padding: 10px;
}

.project-select:focus-visible {
    outline: none;
}

.project-select option {
    padding: 10px;
}

.project-select option:hover {
    background: red;
}

.comment-template-card {
    width: 100%;
    padding: 12px 25px;
    border-radius: 9px;
    background: #ececec;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.comment-template-card:hover {
    background: #e5e5e5;
}

.comment-templates-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 400px;
    overflow: auto;
}
